<section class="page-title parallax">
    <div data-parallax="scroll" data-image-src="images/bg/6.jpg" class="parallax-bg"></div>
    <div class="parallax-overlay">
      <div class="centrize">
        <div class="v-center">
          <div class="container">
            <div class="title center">
              <h1 class="upper">Shopping cart<span class="red-dot"></span></h1>
              <h4>We're happy to see you.</h4>
              <hr>
            </div>
          </div>
          <!-- end of container-->
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <table class="table cart">
            <thead>
              <tr>
                <th class="hidden-xs">Photo</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>In Stock</th>
                <th>Price</th>
                <th class="hidden-xs">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="hidden-xs">
                  <a href="#">
                    <img src="images/shop/1.jpg" alt="">
                  </a>
                </td>
                <td><a href="#"><span>Denim Jacket With Zip fastening</span></a>
                </td>
                <td>
                  <input type="number" value="1" class="form-control">
                </td>
                <td><span class="circle"></span>
                </td>
                <td><span class="cart-price">$149.99</span>
                </td>
                <td class="hidden-xs"><a href="#"><i class="ti-close"></i></a>
                </td>
              </tr>
              <tr>
                <td class="hidden-xs">
                  <a href="#">
                    <img src="images/shop/2.jpg" alt="">
                  </a>
                </td>
                <td><a href="#"><span>Oversized Denim Jacket In Black</span></a>
                </td>
                <td>
                  <input type="number" value="2" class="form-control">
                </td>
                <td><span class="circle red"></span>
                </td>
                <td><span class="cart-price">$49.99</span>
                </td>
                <td class="hidden-xs"><a href="#"><i class="ti-close"></i></a>
                </td>
              </tr>
              <tr>
                <td class="hidden-xs">
                  <a href="#">
                    <img src="images/shop/3.jpg" alt="">
                  </a>
                </td>
                <td><a href="#"><span>Slim Fit Denim Jacket In Off White</span></a>
                </td>
                <td>
                  <input type="number" value="1" class="form-control">
                </td>
                <td><span class="circle"></span>
                </td>
                <td><span class="cart-price">$29.99</span>
                </td>
                <td class="hidden-xs"><a href="#"><i class="ti-close"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="promo-code">
            <h6 class="upper">Apply Coupon Code</h6>
            <hr>
            <div class="input-group">
              <input type="text" placeholder="Coupon Code" class="form-control input-group-sm"><span class="input-group-btn"><button type="button" class="btn btn-color btn-group-sm">Go!</button></span>
            </div>
          </div>
          <div class="cart-summary">
            <h6 class="upper">Order Details</h6>
            <hr>
            <ul class="nav">
              <li>Cart subtotal:<span class="pull-right">$299.99</span>
              </li>
              <li>Shipping:<span class="pull-right">$9.99</span>
              </li>
            </ul>
            <hr>
            <h6 class="upper">Order total:<span class="pull-right">$309.99</span></h6>
          </div>
          <p><a href="#" class="btn btn-color btn-block">Checkout</a>
          </p>
          <p><a href="#" class="btn btn-dark-out btn-block">Update Cart</a>
          </p>
        </div>
      </div>
      <!-- end of row-->
    </div>
    <!-- end of container-->
  </section>